<div class="card">
  <p-table
    [tableStyle]="{ 'min-width': '60rem' }"
    [value]="signalements"
    [sortField]="'date_created'"
    [sortOrder]="-1"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="code_cip" style="width: 50%">
          Code CIP
          <p-sortIcon field="code_cip"></p-sortIcon>
        </th>
        <th pSortableColumn="date_created" style="width: 50%">
          Date
          <p-sortIcon field="date_created"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template let-signalement pTemplate="body">
      <tr>
        <td>{{ signalement.code_cip }}</td>
        <td>{{ signalement.date_created | date: "dd/MM/yyyy" }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
