<footer class="bg-dark text-light py-3 mt-4">
  <div class="container">
    <p class="mb-2 text-center">
      Ce projet est à BUT éducatif et a été réalisé dans le cadre d'un projet
      universitaire à
      <a
        [href]="iutWebSiteUrl"
        class="text-warning"
        target="_blank"
        title="Site IUT Paris Rives de Seine"
      >
        l'Institut Universitaire de Technologie Paris Rives de Seine
      </a>
      par ces 4 étudiants :
    </p>
    <div class="row">
      <div class="col-12">
        <ul class="list-unstyled d-flex justify-content-center flex-wrap">
          <li class="mx-3 text-center">
            <i aria-hidden="true" class="pi pi-users"></i> Raafet
            <a [href]="gitHubRaafetURL" class="d-block" target="_blank">
              <i class="pi pi-github"></i>
            </a>
            <a [href]="linkedInRaafetURL" class="d-block" target="_blank">
              <i class="pi pi-linkedin"></i>
            </a>
          </li>
          <li class="mx-3 text-center">
            <i aria-hidden="true" class="pi pi-users"></i> Antoine
            <a [href]="gitHubAntoineURL" class="d-block" target="_blank">
              <i class="pi pi-github"></i>
            </a>
            <a [href]="linkedInAntoineURL" class="d-block" target="_blank">
              <i class="pi pi-linkedin"></i>
            </a>
          </li>
          <li class="mx-3 text-center">
            <i aria-hidden="true" class="pi pi-users"></i> Paul
            <a [href]="gitHubPaulURL" class="d-block" target="_blank">
              <i class="pi pi-github"></i>
            </a>
            <a [href]="linkedInPaulURL" class="d-block" target="_blank">
              <i class="pi pi-linkedin"></i>
            </a>
          </li>
          <li class="mx-3 text-center">
            <i aria-hidden="true" class="pi pi-users"></i> ViDavid
            <a [href]="gitHubViDavidURL" class="d-block" target="_blank">
              <i class="pi pi-github"></i>
            </a>
            <a [href]="linkedInViDavidURL" class="d-block" target="_blank">
              <i class="pi pi-linkedin"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
