<div class="landing-page">
  <h1 class="display-4 text-center mt-5">Bienvenue sur AppMedic</h1>

  <div class="container mt-4">
    <div class="card mt-4 shadow-sm">
      <div class="card-body">
        <p class="lead">
          L'application permet aux membres de la commune de signaler chaque CODE
          CIP présent sur les boîtes de médicaments des médicaments
          indisponibles ou avec des difficultés d'approvisionnement.
        </p>
        <p class="font-italic">
          Veuillez donc vous connecter pour des mesures de sécurité afin
          d'éviter toute forme d'abus de signalements.
        </p>
        <p class="text-danger font-weight-bold">Tout abus sera sanctionné.</p>
        <p>
          Vous pouvez aussi consulter les médicaments signalés par les autres
          membres de la commune.
        </p>
        <p>Bonne journée.</p>
      </div>
    </div>

    <div class="text-center mt-4">
      <a class="btn btn-primary btn-lg" routerLink="/signalement">
        <i class="pi pi-pencil"></i> Commencer les signalements
      </a>
    </div>
  </div>
</div>
