<div class="container-fluid analytics-container">
  <div class="row">
    <div class="col-md-6 analytics-card">
      <app-analytics-by-day></app-analytics-by-day>
    </div>
    <div class="col-md-6 analytics-card">
      <app-analytics-by-week></app-analytics-by-week>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 analytics-card">
      <app-analytics-by-month></app-analytics-by-month>
    </div>
    <div class="col-md-6 analytics-card">
      <app-analytics-by-year></app-analytics-by-year>
    </div>
  </div>
</div>
